body {
  background: linear-gradient(180deg, orange 50%, brown);
  /*background-color: orange;*/
}
h2 {
  color: black;
}
.white {
  color: white;
}
#menu,
.column-right {
  background-color: white;
}

#addItem {
  color: white;
  width: 160px;
  margin: 0 0 0 10px;
  border: 1px solid lightgrey;
  background-color: #5544CC;
}
#addItem:hover {
  background-color: #8877CC;
}
#addItem:active {
  transition: background-color 0s;
  background-color: #AA99CC;
}
.addItem {
  display: flex;
  align-items: flex-end;
}

#deliver {
  border: 1px solid lightgrey;
  width: 100%;
  margin: 50px 0 0 0;
  background-color: #66FF77;
}

#deliver:hover {
  transition: background-color 0s;
  background-color: #99FFAA;;
}

#deliver:active {
  background-color: #BBFFCC;
}
