

body {
  font-family: 'Open Sans', sans-serif;
}
header {
  border: 1px solid lightgrey;
  padding: 10px;
}
main {
  height: 300px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url('restaurant-hero-image.jpg');
  background-size: cover;
  opacity: 0.7;
}
input,
button,
div,
.inactive,
.active {
  border-radius: 5px;
}
h1 {
  color: white;
}
h2,
h3,
h5 {
  margin: 0;
}
p {
  font-size: 12px;
}
button {
  width: 350px;;
  padding: 10px;
  font-size: 20px;
  border: none;
  background-color: white;
  margin: 60px 0 30px 0;
}
button:hover {
  transition: background-color 0.5s ease;
  background-color: #66FF77;
}
column {
  display: flex;
  flex-flow: column;
  width: 30%;
  margin: 3%;
}
i {
  margin: 10px;
}
form {
  display: flex;
  flex-flow: column;
}
input {
  padding: 5px;
}
.column-left {
  width: 400px;
  margin: 10px;
}
.column-right {
  width: 250px;
  margin: 10px;
  border: 1px solid lightgrey;
  display: flex;
  flex-flow: column;
}
menu {
  border: 1px solid lightgrey;
  padding: 0;
}
.menu {
  margin: 0 0 0 5px;
}
#menu {
  margin: 0;
  border-radius: 5px;
}
order {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
features,
feature {
  display: flex;
  flex-flow: row;
  align-items: baseline;
}
.quantity {
  display: flex;
  flex-flow: row;
}
#quantity {
  font-size: 20px;
  width: 50px;
  text-align: center;
}
#addItem {
  width: 160px;
  margin: 0 0 0 10px;
  border: 1px solid lightgrey;
}
#addItem:hover {
  background-color: red;
}
#addItem:active {
  transition: background-color 0s;
  background-color: yellow;
}
.addItem {
  display: flex;
  align-items: flex-end;
}
#deliver {
  border: 1px solid lightgrey;
  width: 100%;
  margin: 50px 0 0 0;
}
.quantity {
  margin-top: 50px;
}
#deliver:active {
  transition: background-color 0s;
  background-color: yellow;
}
.item {
  display: flex;
  justify-content: space-between;
  margin: 0 15px 2px 15px;
  padding: 0 5px 0 5px;
  border-radius: 5px;
}
.item:hover {
  color: white;
  background-color: #5566FF;
  cursor: pointer;
}
.item:active {
  transition: background-color 0.1s ease;
  background-color: yellow;
  color: blue;
}
.inactive {
  transition: background-color 0.5s ease;
}
.active {
  transition: background-color 0.25s ease;
  background-color: #66FF77;
}
.active:hover {
  color: #66FF77;
}
#orders {
  margin-left: 5px;
}
.basket {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
items {
  overflow: scroll;
  height: 400px;
}
items,
totals {
  margin: 0 5px 0 5px;
}
subtotal,
tax,
total {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.addToList {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}
footer {
  text-align: center;
  border: 1px solid lightgrey;
  padding: 10px;
}
